body { font: 12px Arial;}
path { 
    stroke: grey;
    stroke-width: 2;
    fill: none;
}
path.line0 {
	stroke: red;
}
path.line1 {
	stroke: steelblue;
}
path.line2 {
	stroke: darkgreen;
	stroke-width: 1;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}