<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-faye/build/angular-faye.min.js"></script>
</head>
<body>
    <div id="svg_wrap">
        <svg />
    </div>
    <div ng-app="breatheSeeApp">
        <form ng-controller="MainCtrl" id="main" name="mainform" ng-submit="saveSettings(mainform)">
            <div class="state">
                <p ng-class="{ white: !stateIsKnown() }">Current state: {{ state }}.</p>
                <button ng-click="advanceState();" ng-disabled="badState()">{{ getStateButtonLabel() }}</button>
            </div>
            <div class="col col1">
                <fieldset ng-disabled="state!='waiting'">
                <p>
                    <label class="label" for="calibration_time">Calibration time</label>
                    <input ng-model="settings.calibration_time" type="number" id="calibration_time" name="calibration_time" />
                    sec
                </p>
                <p>
                    <label class="label" for="sample_collection_time">Sample collection time</label>
                    <input ng-model="settings.sample_collection_time" type="number" id="sample_collection_time" name="sample_collection_time" />
                    sec
                </p>
                <p>
                    <span class="label">Collection control</span>
                    <label for="cc_pressure">
                        <input ng-model="settings.collection_control" type="radio" id="cc_pressure" name="collection_control" value="p"/>
                        Pressure
                    </label>
                    <label for="cc_co2">
                        <input ng-model="settings.collection_control" type="radio" id="cc_co2" name="collection_control" value="c"/>
                        CO<sub>2</sub>
                    </label>
                </p>
                <p>
                    <label class="label" for="default_trigger_co2">Default trigger limit, CO<sub>2</sub></label>
                    <input ng-model="settings.default_trigger_co2" type="number" step="0.01" min="0" max="100" id="default_trigger_co2" name="default_trigger_co2" />
                    %
                </p>
                <p>
                    <label class="label" for="default_trigger_pressure">Default trigger limit, pressure</label>
                    <input ng-model="settings.default_trigger_pressure" type="number" id="default_trigger_pressure" min="0" max="6000" name="default_trigger_pressure" />
                    Pa
                </p>
                <p>
                    <label class="label" for="auto_triggers">Use auto-setting for trigger limits?</label>
                    <input ng-model="settings.auto_triggers" type="checkbox" id="auto_triggers" name="auto_triggers" />
                </p>
                <p>
                    <label class="label" for="collection_rate">Sample collection rate - instantaneous</label>
                    <input ng-model="settings.collection_rate" type="number" min="0" max="600" id="collection_rate" name="collection_rate" />
                    ml/min
                </p>
                <p>
                    <label class="label" for="collection_limit">Sample collection limit</label>
                    <input ng-model="settings.collection_limit" type="number" min="0" max="10000" id="collection_limit" name="collection_limit" />
                    ml
                </p>
                <p style="padding-left: 30px;">
                    <input type="submit" name="action" value="Save user settings" ng-hide="state!='waiting'" />
                    <input type="button" name="action" value="Load user settings" ng-hide="state!='waiting'" ng-click="loadSettings('user')" />
                    <input type="button" name="action" value="Load defaults" ng-hide="state!='waiting'" ng-click="loadSettings('default')" />
                </p>
                </fieldset>
            </div>
            <div class="col col2">
                <div id="messages">
                    <div id="message_wrap">
                        <p ng-repeat="item in messages track by $index" class="{{ item.severity }}">{{ item.message }}</p>
                    </div>
                </div>
                <p ng-show="resultsAvailable"  >
                    <a href="/results" target="results">View output directory</a>
                </p>
            </div>
        </form>
    </div>

    <!-- load other external dependencies! -->    
    <script src="/bower_components/d3/d3.min.js"></script>
    <script src="/faye/faye.js"></script>
   
    <!-- Finally include our own js files. Order is important for now. -->
    <script src="/js/main.js"></script> 
    <script src="/js/config.js"></script> 
    <script src="/js/plotting.js"></script> 
    <script src="/js/form.js"></script> 
</body>

